wsdl/consultaprecios.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	name="ConsultaPrecio"
	targetNamespace="urn:ConsultaPrecio"
	xmlns:tns="urn:ConsultaPrecio"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

	<message name="csvRequest">
		<part name="clave" type="xsd:string"/>
		<part name="csv" type="xsd:string"/>
	</message>

	<message name="codigoRequest">
		<part name="clave" type="xsd:string"/>
		<part name="codigo" type="xsd:string"/>
	</message>

	<message name="productoRequest">
		<part name="clave" type="xsd:string"/>
		<part name="codigo" type="xsd:string"/>
		<part name="precio" type="xsd:double"/>
		<part name="descripcion" type="xsd:string"/>
		<part name="marca" type="xsd:string"/>
		<part name="detalle" type="xsd:string"/>
		<part name="moneda" type="xsd:string"/>
	</message>

	<message name="stringResponse">
		<part name="respuesta" type="xsd:string"/>
	</message>

	<portType name="Puerto">
		<operation name="modificarProducto">
			<input message="tns:productoRequest"/>
			<output message="tns:stringResponse"/>
		</operation>
		<operation name="borrarProducto">
			<input message="tns:codigoRequest"/>
			<output message="tns:stringResponse"/>
		</operation>
		<operation name="llenarProductos">
			<input message="tns:csvRequest"/>
			<output message="tns:stringResponse"/>
		</operation>
	</portType>

	<binding name="ArticulosBinding" type="tns:Puerto">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="modificarProducto">
			<soap:operation soapAction="urn:AccionModificarProducto"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="borrarProducto">
			<soap:operation soapAction="urn:AccionBorrarProducto"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="llenarProductos">
			<soap:operation soapAction="urn:AccionLlenarProducto"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="ConsultaProductosServicio">
		<port name="Puerto" binding="tns:ArticulosBinding">
			<soap:address location="http://10.10.100.17/consultaprecio/wsdl/servidor.php"/>
		</port>
	</service>
</definitions>